bucket         = "replace-me-terraform-state"
key            = "finanzasclaras/staging/terraform.tfstate"
region         = "us-east-1"
dynamodb_table = "replace-me-terraform-locks"
encrypt        = true
